[Unit]
Description=Concourse Worker

[Service]
ExecStart=/usr/local/concourse/bin/concourse worker
User=root
Group=root
Type=simple
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
